<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tacostagram</title>
</head>

<body>
  <p>
    <% @user = User.find_by({ "id" => session["user_id"] }) %>
    <% if @user == nil %>
      <a href="/users/new">Sign Up</a>
      |
      <a href="/login">Login</a>
    <% else %>
      Logged in as: <%= @user["first_name"] %>
      |
      <a href="/logout">Logout</a>
    <% end %>
  </p>

  <div>
    <h1>Tacostagram</h1>
    <div>
      <a href="/posts/new/">New Post</a>
    </div>
  </div>

  <div>
    <%= flash["notice"] %>
  </div>

  <%= yield %>
</body>
</html>
